html, body {
    background: url(../images/background.jpg) no-repeat; /* Путь к фоновому изображению */
    background-color: #ebecf0; /* Цвет фона */
    background-size: 100%;
    height: 100%;
}

.section {
    padding-top: 10px;
    padding-bottom: 20px;
    height: calc(100% - 235px);
}
/*.gradient {*/
/*height: 100%;*/
/*width: 100%;*/
/*padding: 2%;*/
/*margin: 0 auto;*/
/*border: 10px solid transparent;*/
/*border-image: linear-gradient(to right, transparent 0%, #ADF2F7 100%);*/
/*border-image-slice: 1;*/
/*}*/

/*--thank you pop starts here--*/
.thank-you-pop{
    width:100%;
    padding:20px;
    text-align:center;
}
.thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.thank-you-pop h1{
    font-size: 42px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.thank-you-pop p{
    font-size: 20px;
    margin-bottom: 27px;
    color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
    font-size: 25px;
    margin-bottom: 40px;
    color:#222;
    display:inline-block;
    text-align:center;
    padding:10px 20px;
    border:2px dashed #222;
    clear:both;
    font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
    color:#03A9F4;
}
.thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/

.content-place {
    height: calc(99vh - 250px);
    overflow: auto;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
    border: 3px solid #2f5496;
    background: #f2f2f2;
    font-size: 0.8rem;
}
.left-border {
    /*border-left: 1px solid #000;*/
}
/* добавление разделителя между элементами хлебных крошек с помощью псевдоэлемента before */
.left-border::before {
    display: inline-block;
    color: #673ab7;
    content: ":";
}
.user-info span, img {
    margin-left: 10px;
}
