/*--thank you pop starts here--*/
.thank-you-pop{
    width:100%;
    padding:20px;
    text-align:center;
}
.thank-you-pop img{
    width:76px;
    height:auto;
    margin:0 auto;
    display:block;
    margin-bottom:25px;
}

.thank-you-pop h1{
    font-size: 42px;
    margin-bottom: 25px;
    color:#5C5C5C;
}
.thank-you-pop p{
    font-size: 20px;
    margin-bottom: 27px;
    color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
    font-size: 25px;
    margin-bottom: 40px;
    color:#222;
    display:inline-block;
    text-align:center;
    padding:10px 20px;
    border:2px dashed #222;
    clear:both;
    font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
    color:#03A9F4;
}
.thank-you-pop a{
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
    margin-right:5px;
    color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
/*--thank you pop ends here--*/
@font-face {
    font-family: ArabicTypesetting;
    src: url('../fonts/ArabicTypesetting.ttf');
}
html, body {
    background: no-repeat url(../images/background.jpg); /* Путь к фоновому изображению */
    background-color: #ebecf0; /* Цвет фона */
    background-size: cover;
    height: 100%;
    background-position: center center;
}
.container {
    width: calc(100% - 290px);
}
.section {
    padding-top: 10px;
    padding-bottom: 20px;
    height: calc(100% - 235px);
}

.content-place {
    height: calc(100vh - 230px);
    overflow: auto;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
    border: 3px double #2f5496;
    outline: 1px solid #2f5496;
    outline-offset: -4px;
    background: #f2f2f2;
    font-size: 0.8rem;
}
.left-border::before {
    display: inline-block;
    color: #673ab7;
    content: ":";
}
.user-info span, .user-info img {
    margin-left: 10px;
}
.user-info span {
    font-size: 1rem!important;
}
.loginForm {
    border: 2px solid #2f5496;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
}
.headFormName {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 3%;
    font-weight: bold;
    color: #2f5496;
    text-shadow: 0px 0px 4px #2f5496;
    font-family: "Palatino Linotype";
}
.headFormDescription {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 15px;
}
.errorMessage {
    text-align: center;
    font-size: 1rem;
    padding: 5px 15px;
    color: red;
    line-height: 1.2rem;
}
.successMessage {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 15px;
    color: green;
}
.loginForm label {
    font-size: 0.7rem;
}
.loginForm a {
    font-size: 0.7rem;
    text-align: left;
}
.loginForm input {
    border-color: black;
}
.input, .select {
    border-color: #a0a3af;
    border-style: dashed;
    border-width: 1px;
    border-radius: 1px;
    max-height: 20px;
    padding: 0 0;
    text-align: center;
    text-align-last: center;
    background: #e7e6e6;
}
.loginButton, .rememberButton, #cancelButton, #editProfileButton {
    border-color: #a0a3af;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    height: 25px;
    padding: 0 0;
    text-align: center;
    text-align-last: center;
    background: #e7e6e6;
    color: #1b1e21;
    font-size: 0.8rem;
    font-weight: 500;
    width: 100%;
}
#cancelButton, #editProfileButton {
    align-items: center;
    display: flex;
    justify-content: center;
}
#cancelButton:hover, #editProfileButton:hover, #createAccount a, #createAccount a:hover {
    text-decoration: none;
    color: #1b1e21;
}
#createAccount a {
    flex: 1;
    text-align: center;
    font-size: 1rem;
}
#createAccount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #2f5496;
    height: 10%;
    margin-top: 1%;
}
.g-recaptcha {
    transform:scale(0.90, 0.70);
    -webkit-transform:scale(0.90, 0.70);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
#registerForm {
    height: 90%;
    width: 90%;
}
.registerFormContent {
    border: 1px dashed #a0a3af;
    height: 70%;
    margin-bottom: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}
.registerFields div{
    font-size: 0.8rem;
    padding: 0 0px;
    text-align: left;
}
.registerFields label {
    margin: 0 0;
    font-weight: 500;
}
.registerFormContent .input {
    font-size: 0.8rem;
    text-align: left;
    color: black;
    text-align-last: left;
}
.registerFormContent span {
    font-family: "ArabicTypesetting";
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem
}
.registerFormContent select {
    width: 100%;
    max-height: 50px;
}

/*profile styles*/
.profile-content-place {
    background-color: #c1c1c1;
}
.profile-navigation {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 170px;
}
.profile-navigation a {
    text-decoration: none;
    color: grey;
}
.profile-navigation a:hover {
    color: rgba(65, 134, 158, 0.75);
}
.profile-navigation ul {
    padding: 0;
    list-style-type: none;
    font-size: 11px;
    line-height: 300%;
    font-weight: 700;
    letter-spacing: 1px;
}
.profile-navigation li {
    padding: 0 10px;
}
.profile-navigation .active {
    /*border-bottom: 2px solid #2f5496;*/
}
.profile-navigation .active a {
    color: #000;
    padding-bottom: 3px;
    border-bottom: 2px solid #2f5496;
}
.profile-place {
    width: calc(100% - 170px);
    height: 100%;
    border: 3px double #2f5496;
    outline: 1px solid #2f5496;
    outline-offset: -4px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#personalForm {
    height: 45vh;
    width: 100%;
}
.personalFormContent {
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}
.personalFields div{
    font-size: 0.8rem;
    padding: 0 0px;
    text-align: left;
}
.personalFields label {
    margin: 0 0;
}
.personalFormContent .input {
    font-size: 0.8rem;
    text-align: left;
    color: black;
    text-align-last: left;
}
.personalFormContent span {
    font-family: "ArabicTypesetting";
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem
}
.personalFormContent select {
    width: 100%;
    max-height: 50px;
}
