@font-face {
    font-family: ImprintMTShadow;
    src: url('../fonts/ImprintMTShadow.ttf');
}

/*Rating stars*/
.rate-base-layer
{
    color: rgba(76, 150, 247, 0.48);
}
.rate-hover-layer
{
    color: #2f5496;
}
.rate-select-layer
{
    color: #2f5496;
}
.rating
{
    padding-bottom: 5px;
    font-size: 22px;
    padding-left: 7px;
}
.middle-rating-star
{
    padding-bottom: 5px;
    font-size: 22px;
    padding-left: 7px;
}
.rating-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /*padding-bottom: 10px;*/
}

/*createReviewForm*/
.create-review-title {
    font-size: 20px;
    margin: 0;
    font-family: "ImprintMTShadow";
    font-weight: 500;
    letter-spacing: 1px;
}

.create-review-label {
    font-size: 13px;
    color: #636363;
    font-weight: normal;
}
.review-character-label {
    font-size: 13px;
    color: #636363;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    /*margin-bottom: 20px;*/
}
.createReviewForm div{
    padding: 0 0;
    text-align: left;
}
#createReviewForm, #editReviewForm {
    width: 100%;
    max-height: 100%;
}
#createReviewForm input, #editReviewForm input {
    font-size: 12px;
}
.review-info-container {
    padding-bottom: calc(calc(100vh - 330px)*0.05);
}
#createReviewForm .review-info-container div, #editReviewForm .review-info-container div {
    padding: 0 3px;
}
.review-content-place .input, .get-in-touch-content-place .input, .review-content-place select {
    border-color: #2f5496;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    max-height: 20px;
    max-width: 100%;
    padding: 0 0;
    text-align: center;
    text-align-last: center;
    background: #fcfbfb;
}
#review-text, #review-create-text {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 1px;
}
#review-create-text , #review-text{
    padding: 10px;
}
.hwt-container{
    height: 85%;
    width: 100%;
    background-color: white;
}
.hwt-highlights{
    padding: 10px;
}
.hwt-content mark{
    background-color: #ff000057;
    /*color: red;*/
}
.review-upload-files{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15%;
    margin-top: 1%;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid rgb(118, 118, 118);
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
    background-color: white;
    height: 100%;
    width: 49%;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.checkbox-container {
    height: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.checkbox-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.checkbox-item {
    height: 18px;
    box-sizing: border-box;
    max-width: 50%;
}
.review-content-place, .review-content-place:hover {
    height: calc(100vh - 260px);
    overflow: auto;
    width: 100%;
    /*padding: 1%;*/
    margin: 0 auto;
    border: 3px double #2f5496;
    outline: 1px solid #2f5496;
    outline-offset: -4px;
    background: #f2f2f2;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.createReviewButton {
    max-height: 20px;
}
.review-characteristics {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.create-review-name {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    text-align: center;
}
.create-review-buttons, .edit-review-buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.review-filters {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    outline-offset: -4px;
}
.single-review {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: stretch;
    justify-content: space-around;
    border-bottom: 1px groove #4a92f8;
}
.review-stars {
    font-size: 20px;
    color: #2f5496;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.single-review-info span {
    font-size: 15px;
}
.single-review-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
}
.single-comment-info span {
    font-size: 15px;
}
.single-comment-info div {
    margin-bottom: 10px;
}
.single-comment-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
}
.single-review-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 85%;
    justify-content: flex-start;
}
.single-review-name {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    font-size: 1rem;
    padding-bottom: 5px;
}
.single-review-logo-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.single-review-logo-name > *{
    margin-bottom: 10px;
}
.single-review-logo-name img {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    margin: auto;
}
.single-review-review {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    line-height: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.single-review-review p, .single-review-review span{
    text-align: left;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.single-review-review img {
    float: right;
    margin: 5px 5px 5px 5px;
}
.single-review-review video {
    float: right;
    margin: 5px 5px 5px 5px;
    object-fit: fill;
}
.profile-single-review-review p, .profile-single-review-review span {
    text-align: left;
    float: left;
    width: 100%;
    padding-bottom: 5px;
}
.profile-single-review-review img {
    float: right;
    margin: 5px 5px 5px 5px;
}
.profile-single-review-review video {
    margin: 5px 5px 5px 5px;
    object-fit: fill;
    float: right;
}
.like-reaction :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.comment-like-reaction :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.like-reaction, .comment-like-reaction {
    background-image: url("../images/positive_like.png");
    cursor:pointer;
    border: none;
    width: 22px;
    height: 22px;
}
.like-container-right {
    width: 35%;
    text-align: right;
}
.like-container-left {
    width: 35%;
    text-align: left;
}
.comment-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.comment-buttons button{
    margin-bottom: 15px;
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.pagination {
    margin: 0;
}
.page-link {
    color: #2f5496;
}
.page-link .active{
    color: #636363;
}
.page-item.active .page-link {
    background-color: #636363;
    border-color: #2f5496;
}
.comment {
    display: none;
    flex-direction: row;
    width: 100%;
    text-align: start;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px groove #4a92f8;
    border-image: linear-gradient(to right, rgba(242, 242, 242, 0.56), #2f5496, #2f5496, #f2f2f2) 47% 0%;
    margin-bottom: 10px;
}
.complain {
    display: none;
    flex-direction: row;
    width: 100%;
    text-align: start;
    justify-content: start;
    align-items: stretch;
    border-bottom: 1px groove #4a92f8;
    border-image: linear-gradient(to right, rgba(242, 242, 242, 0.56), #2f5496, #2f5496, #f2f2f2) 47% 0%;
    margin-bottom: 10px;
}
.complain span {
    padding: 0 5px;
}
.message{
    display: none;
    flex-direction: row;
    width: 100%;
    text-align: start;
    justify-content: start;
    align-items: stretch;
    border-bottom: 1px groove #4a92f8;
    border-image: linear-gradient(to right, rgba(242, 242, 242, 0.56), #2f5496, #2f5496, #f2f2f2) 47% 0%;
    margin-bottom: 10px;
    font-family: "ImprintMTShadow";
    font-size: 14px;
}
.message .sender-name {
    margin-right: 5px;
    white-space: nowrap; /* Запрещаем перенос строк */
}
.unread-profile-messages{
    background-color: #f5fcb3;
}
.review-textarea {
    display: none;
    flex-direction: row;
    min-height: 100px;
}
.review-textarea[style*='display: block'], .comment[style*='display: block'] {
    display: flex !important;
}
#review-for-guest {
    min-height: 50px;
}
.acceptModalDialog .modal-dialog{
    position: absolute;
    top: 40%;
    width: 50%;
    max-width: 760px;
    right: 25%;
    bottom: 0;
    left: 25%;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    text-align: center;
}
/*@media (min-width: 1500px){*/
    /*.acceptModalDialog .modal-dialog {*/
        /*max-width: 35%;*/
    /*}*/
/*}*/
.acceptModalDialog .modal-content{
    padding: 10px;
    color: red;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 0, 14, 0.82);*/
    /*-moz-box-shadow: 0px 0px 10px 0px rgba(255, 0, 14, 0.82);*/
    /*box-shadow: 0 0 2px 2px rgba(255, 0, 14, 0.82);*/
}
.acceptModalDialog button{
    margin: 10px 0;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
